<!DOCTYPE html>
<html>
<head>
  <title>MostViralVideos-country</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
	   
	   <%= render 'header' %>


		<div id="body">
	    <%= render 'result' %>

	    </div>
		<div id="footer"> "Test footer"</div>
	</div>

</body>
</html>